{% extends 'base.html.twig' %}

{% block body %}
    <h1>Festival edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type=submit value=" Envoyer
    "/>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('festival_index') }}">
                <i class="fa fa-arrow-left"></i>
                Retour à la liste
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
