<footer class="big-footer text-center navbar-inverse navbar-footer ">
    <div class="container">
        <sub class="footer-note text-center"> développé par Tykayn /
            <a href="http://www.cipherbliss.com">
                Cipher Bliss
            </a>
            |
            <a href="mailto:contact@cipherbliss.com">
                <i class="fa fa-mail"></i>
                contact
            </a>
        </sub>
    </div>
</footer>
