{% block bigMain %}

    {% include 'default/header.html.twig' %}

    {% block body %}
        <div class="main-screen" id="homepage">
            <div id="welcome">
                <section class="bg-accessories">
                    <div class="bg-shader">
                        <div class="container main-section">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 padded-v">
                                    <h1>
                                        {#<i class="fa fa-circle-o-notch logo-main"></i>#}
                                        Caisse Bliss
                                    </h1>
                                </div>
                                <div class="col-xs-12 col-sm-6 padded-v">
                                    <div class="description">
                                        <strong> Votre caisse mobile dynamique en ligne </strong> Pensé pour les
                                        exposants et les créateurs divers en festival, cette caisse saura s'adapter à
                                        l'évolution de vos stocks et vous libèrera des affres de la fiche de compte à
                                        faire et compléter soi même.
                                    </div>
                                    <div class="try">
                                        <br>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 padded text-right">
                                                <a class="btn btn-primary"
                                                        href="{{ path('fos_user_security_login') }}"
                                                        class="btn btn-primary">
                                                    Essayez dès maintenant
                                                </a>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <sub> Démonstration en vous connectant avec le login:
                                                    <strong>demo</strong> et le mot de passe <strong>demo</strong>.
                                                </sub>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </section>

            </div>
            <section class="bg-girl">
                <div class="bg-shader">
                    <div class="container">

                        {% include 'default/description-app.html.twig' %}
                        <div class="try">
                            <fieldset class="bg-dark padded">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <a class="btn btn-primary" href="{{ path('dashboard') }}"
                                                class="btn btn-success">
                                            Essayez dès maintenant
                                        </a>
                                        <p>
                                            Démonstration en vous connectant avec le login: <strong>demo</strong> et le
                                            mot de passe <strong>demo</strong>.
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        {#<a class="btn btn-default" href="{{ path('fos_user_security_login') }}">#}
                                        {#<i class="fa fa-key"></i>#}
                                        {#Se connecter#}
                                        {#</a>#}
                                        <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">
                                            <i class="fa fa-user"></i>
                                            Créer un compte
                                        </a>

                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-color">
                <div id="contact" class="text-center">
                    <i class="fa fa-envelope-open-o"></i>
                    contactez-moi pour tout renseignement:
                    <a href="mailto:contact@cipherbliss.com"> par email</a>
                    , Telegram @tykayn, ou sur Mastodon
                    <a href="https://mamot.fr/@tykayn">
                        <img src="https://en.gravatar.com/userimage/53061325/811d383aa2ebb8d2d83baab7da5f4a7b.jpeg"
                                alt="avatar Mastodon" width="50" height="50"> @tykayn@mamot.fr
                    </a>
                </div>

            </section>
        </div>
    {% endblock %}
    {% include 'default/footer.html.twig' %}

{% endblock %}
