{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    <div class="row">
        <div class="col-xs-6">
            <h1>Enregistrer un nouveau compte</h1>
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
        <div class="col-xs-6">

            ou bien,

            {#<a class="btn btn-info" href="{{ path('fos_user_security_login') }}">se connecter.</a>#}
            <a class="btn btn-info" href="{{ path('fos_user_resetting_request') }}">
                Mot de passe oublié?
            </a>
        </div>
    </div>


{% endblock fos_user_content %}
