{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catégorie <strong> {{ productCategory.name }} </strong></h1>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit"/>
            {{ form_end(edit_form) }}
            <div class="padded">
                <ul>
                    <li>
                        <a class="btn btn-primary btn-block" href="{{ path('productcategory_index') }}"> <i
                                    class="fa fa-arrow-left"></i> Retour à la liste</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input class="btn btn-warning btn-block" type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">

            <h2>{{ productCategory.products|length }} Produits associés</h2>
            <div class="listing">
                {% for p in productCategory.products %}
                    <a class="btn btn-default btn-block" href="{{ path('product_edit', { 'id': p.id }) }}">
                        {{ p.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}
