
@media all and(max-width: 1200px) {
  html,body{
    font-size: 1.2rem;
  }
  .bg-shader {
     height: 100%;
     min-height: 100vh;
   }
  .product-values-block {
    padding: 1em;
  }

  #homepage{
    .main-section{
      padding: 2rem;
    }
    .btn{
      display:block;
      width: 100%;
      font-size: 1.25em;
    }
  }
  #caisse-now {
    .product-box {
      width: 100%;
    }
    .product-button {
      min-width: calc(100% - 56px)
    }
    .listing-products {

      .btn, button {
        font-size: 1rem;
        padding: 0.2em;
        border-radius: 0.3em;
      }
    }
  }
}

@media all and(max-width: 600px) {
  html,body{
    font-size: 1.5rem;
  }
  .category-listing{
    width: calc(100% - 2rem);
  }
}

