{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table class="table-responsive table-striped table table-bordered table-light">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ product.image }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ product.comment }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('product_index') }}">
                <i class="fa fa-arrow-left"></i>
                Retour à la liste
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
