{% verbatim %}
<div class="selling-on-hold">
    <h4>
        Ventes en pause
    </h4>
    <ul>
        <li ng-repeat="list in pausedSellings track by $index"
                ng-click="setBackPausedSelling(list, $index)">
            {{ $index }}) {{ list.products.length }} produits, <strong>
                {{ sumOfList(list) }}€ </strong>
        </li>
    </ul>
    <hr>
</div>
{% endverbatim %}
