{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sellrecord creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary btn-block" value="Créer"/>
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('sellrecord_index') }}">
                <i class="fa fa-arrow-left"></i>
                Retour à la liste
            </a>
        </li>
    </ul>
{% endblock %}
