{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sellrecord</h1>

    <table class="table-responsive table-striped table table-bordered table-light">
        <tbody>
        <tr>
            <th>Date</th>
            <td>{% if sellRecord.date %}{{ sellRecord.date|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('sellrecord_index') }}">
                <i class="fa fa-arrow-left"></i>
                Retour à la liste
            </a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('sellrecord_edit', { 'date': sellRecord.date }) }}">edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
