{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="padded">

            <h1>
                <i class="fa fa-key"></i>
                Se connecter
            </h1>
            {% if error %}
                <div class="alert alert-info">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}
                <div>

                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
                            autocomplete="username"/>
                </div>
                <div>

                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required"
                            autocomplete="current-password"/>

                </div>
                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>


                </div>

                <input class="btn btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
            </form>category-listing

            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="visible-xs">
                <hr>
            </div>
            <div class="padded">

            <p>
                <a class="btn btn-info" href="{{ path('fos_user_resetting_request') }}">
                    Mot de passe oublié?
                </a>
            </p>
            <p>
                <a class="btn btn-info" href="{{ path('fos_user_registration_register') }}">
                    Créer un compte
                </a>
            </p>
        </div>
        </div>
    </div>



{% endblock %}
