<div id="mass-register">

    <h2>
        Création de produits en masse
    </h2>

    <form action="{{ path('mass_create') }}" method="post">

        <blockquote>
            <strong>Vous pouvez copier et adapter cet exemple: </strong>
            <pre>
catégorie: livre
    les moutaines;5€
    la laine des moutons;6€
    star wars spécial noël;7€
catégorie: poster
    super bannière A2;10€
    Sébastien Chabal sexy;10€
catégorie: dessin à la demande
    dessin A4 crayon;20€
    dessin A4 aquarelle;150€
</pre>
        </blockquote>
        <label for="produits">
            Créez vos produits et leur catégorie en masse, un par ligne
        </label>
        <textarea style="width: 100%;" name="produits" id="produits" cols="30" rows="10"
                placeholder="catégorie et produits">
catégorie: livre
        mon livre 1;5€
                </textarea>
        <input class="btn btn-primary btn-block" type="submit" value="créer en masse">
    </form>
</div>
